<html>
    <head>
        <title>Color Blind Game</title>
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body onload="startGame()">
        {{{body}}}
        <script src="/assets/main.js"></script>
    </body>
</html>